.tabela {
  align-items: center;

  &:hover {
    .input {
      &:focus {
        color: #0a86d0;
        border-color: #0a86d0;
        background-color: #f6f7f8;
      }
    }
    svg {
      path {
        fill: red;
      }
    }
  }
}

.item,
.valor {
  font: 14px 'Montserrat', sans-serif;
  color: #000;
  font-weight: 500;
  line-height: 17px;
  border-style: none;
  outline-color: #0a86d0;
}

.valor,
.item:focus {
  color: #0a86d0;
}

.x {
 
  border-style: none;
  background-color: rgba(255, 255, 255, 0);
}

.valor{}