.N7-progress {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  // Inicio das propriedades de animação
  overflow: hidden;
  position: relative;

  &::after {
    animation: N7-animacao 4s ease forwards; //infinite
    background-color: #fff;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
  }

  @keyframes N7-animacao {
    to {
      transform: translateX(101%);
    }
  }

  .primeira {
    @include configProgressN7(#1968df, 100%, block);
    height: 100%;
  }

  .segunda {
    @include configProgressN7(#17d28f, 50%);
    height: 100%;
  }

  .terceira {
    @include configProgressN7(#fc3467, 25%);
    height: 100%;
  }

  .quarta {
    @include configProgressN7(#e9eff2, 25%);
    height: 100%;
  }
}
