.texto {
  font: 12px 'Mulish', sans-serif;
  font-style: normal;
  color: #111111;
  font-weight: 400;
  line-height: 18px;
}

.valor {
  font: 14px 'Montserrat', sans-serif;
  font-style: normal;
  color: #111111;
  font-weight: 700;
  line-height: 22px;
}

.resumo {
  background-color: #ffffff;
  width: 380px;
  height: 150px;
  padding: 40px 20px 60px 20px;
  border-radius: 8px;
}

.total {
  width: 340px;
  position: relative;
  margin: 0px auto 25px;

  .texto {
    position: absolute;
    left: 0px;
  }
  .valor {
    position: absolute;
    right: 0px;
  }
}

.resumo-linha {
  width: 340px;
  position: relative;
  margin-bottom: 10px;

  .elipse {
    position: absolute;
    left: 0px;
  }

  .texto {
    line-height: 18px;
    position: absolute;
    left: 8%;
  }
  .valor {
    position: absolute;
    right: 0px;
  }
}

.barra-financeiro {
  width: 340px;
  margin: 0 auto;
}

.conjunto-linhas {
  margin: 20px 20px;
  position: relative;
  .dividas {
    position: absolute;
    top: 0px;
  }
  .contas {
    position: absolute;
    top: 30px;
  }
  .futuro {
    position: absolute;
    top: 60px;
  }
  .sobra {
    position: absolute;
    top: 90px;
  }
}
