$cor1: #000000;
$cor2: #c4342d;
$cor3: #5e6a6e;

$tamanho2: 16px;
$tamanho3: 12px;
$tamanho4: 18px;

@mixin texto($size, $color) {
  font: $size 'Montserrat', sans-serif;
  color: $color;
}

@mixin configProgressN7(
  $N7-progress-cor: #1968df,
  $N7-progress-comp: '25%',
  $N7-progress-fant: none
) {
  background-color: $N7-progress-cor;
  width: $N7-progress-comp;
  display: $N7-progress-fant;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;600&display=swap');

@import 'reset';

// Components
@import 'components/dinheiro';
@import 'components/cardseletor';
@import 'components/formularioDinheiro';
@import 'components/botao';
@import 'components/link';
@import 'components/login';
@import 'components/N7';
@import 'components/emailSenha';
@import 'components/lineThrough';
