@mixin configProgressN7(
  $N7-progress-cor: #1968df,
  $N7-progress-comp: '25%',
  $N7-progress-fant: none
) {
  background-color: $N7-progress-cor;
  width: $N7-progress-comp;
  display: $N7-progress-fant;
}

@import 'reset';

// Components
@import 'components/smile';
@import 'components/N7';
